/* General CSS rules that are applied on many elements */
.chatMain {
    font-family: Georgia;
}

.modalContainer {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    gap: 5px;
}

.chatPageModal {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmCancel {
    display: flex;
}

.hidden {
    display: none;
}

.chatMain button {
    font-size: 12px;
    display: flex;
    gap: 10px;
    font-family: Aboreto;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    max-width: 150px;
}

.closeModal {
    background-image: url(../media/X.png);
    background-size: cover;
    height: 3vh;
    width: 3vh;
}
.closeModal:active {
    background-color: rgba(0, 0, 0, 0.154);
}

.iconStyle {
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    height: 6vh;
    width: 6vh;
}

.addMemberIcon {
    background-image: url(../media/addfriend.png);
    background-size: cover;
    height: 2vh;
    width: 2vh;
}

#confirmCancel {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

/* MAIN */

/* First page when loading chat page */

.chatMain > div.backgroundImage {
    background-image: url(../media/loggedInBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}

.chatMain {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatsContainer {
    width: 80vw;
}

#privateChats, #groupChats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d978;
    font-family: aboreto;
    width: 100%;
    border-radius: 10px;
    height: 35vh;
    margin: 10px 0px;
    overflow-y: scroll;
}

#privateChats > p, #groupChats > #groupChatsTop > p {
    max-width: 100%;
    text-align: start;
    padding: 10px;
    margin: 0;
}
#chatsContainer > #privateChats > p {
    width: 100%;
}

#addGroupChat {
    background-image: url(../media/add.png);
    background-size: cover;
    height: 5vh;
    width: 5vh;
}

#groupChatsTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#privateChatsContainer, #groupChatsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
}

.groupChat, .privateChat {
    display: flex;
    text-align: start;
    padding: 15px;
    align-items: center;
    font-family: Helvetica;
    gap: 10px;
    background-color: #F4F4F4A8;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(55, 55, 55);
}
.groupChat:active, .privateChat:active {
    background-color: #b3b3b3a9;
}

.groupIcon { 
    border-radius: 0px;
    background-repeat: no-repeat;
}

.ownerIcon {
    background-image: url(../media/ownerIcon.png);
    background-size: contain;
    height: 3vh;
    width: 3vh;
}

/* Rules for the chat window. */
#chat {
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    height: 80vh;
    width: 80vw;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
}

#chat > #chatTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 209, 209);
    border-radius: 10px 10px 0px 0px;
}

#chat > #chatTop > div {
    margin: 0px 10px;
}

#chat > #messages {
    text-align: start;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
#chat > #messages > div {
    margin: 10px;
}

#chat > #operations {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: rgb(209, 209, 209);
    border-radius: 0px 0px 10px 10px;
}

#chat > #operations > textarea {
    flex-grow: 1;
    border-radius: 10px;
}

#chatTopOptions {
    display: flex;
    gap: 8px;
    align-items: center;
}

#groupChatOptions {
    background-image: url(../media/settingsIcon.png);
    background-size: cover;
    height: 3.2vh;
    width: 3.2vh;
}

#groupChatOptions:active {
    background-color: rgba(0, 0, 0, 0.154);
    border-radius: 5px;
}

.messageProfPic {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 6vh;
    width: 6vh;
    border-radius: 10px;
}

.messageContainer {
    display: flex;
}

.messageInfo {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(111, 111, 111, 0.491);
}

.messageTimestamp {
    font-size: 3vw;
    color: rgba(111, 111, 111, 0.901);
}

.messageText {
    width: 60vw;
    overflow-wrap: anywhere;
}

.messageUsername {
    display: flex;
    gap: 5px;
}

.ownerIconMessage.hidden {
    display: none;
}

.ownerIconMessage {
    height: 2vh;
    width: 2vh;
}

/* Rules for groupchat options */

.chatOptions > .modalContainer {
    position: relative;
    gap: 5px;
}

.chatOptions button {
    width: 30vw;
}

#optionsTitle {
    margin: 20px 0px;
}

.chatOptions .closeModal {
    position: absolute;
    top: 5%;
    right: 5%;
}

#ownerOptions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#newGroupName {
    border-radius: 5px;
    width: 60vw;
    max-width: 300px;
}

#editMemberTip {
    font-size: 12px;
    font-style: italic;
}

/* Rules for groupchat creation */

#createGroupChat {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
#createGroupChat > .closeModal {
    position: absolute;
    top: 5%;
    right: 5%;
}
#createGroupChatTitle {
    margin: 20px 0px;
    font-size: 20px;
}

#groupName {
    border-radius: 5px;
    margin-bottom: 20px;
    height: 30px;
    width: 50vw;
}

#createGroupChat button {
    width: 50vw;
    font-size: 15px;
}

#friendsSelector {
    display: flex;
    flex-direction: column;
    max-height: 25vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    gap: 10px;
}

.friendDiv {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 5px;
}

.friendDiv:active {
    background-color: rgb(227, 227, 227);
}

.friendDiv.marked {
    background-color: rgb(206, 206, 206);
}

.profPic {
    background-size: cover;
    background-position: center;
    height: 7vh;
    width: 7vh;
    border-radius: 10px;
}
