.bodyFeed{
    background-color: #1A2E35;
    position: relative;
}

body.noScroll{
    overflow: hidden;
}

/*HEADER: Header in feed*/
.feedHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;

    border-radius: 0px 0px 10px 10px;
    padding-right:2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    box-sizing: border-box;
    /*box-shadow: 0px 15px 10px -13px #111;*/
    z-index: 4;
}

/*Hide feed header when displaying friends*/
header.feedHeader > .hidden{
    display: none;
 }

/*HEADER: Friends button in header*/
div.friendsButton{
    font-size: 11px;
    height: 7vh;
    width: 7vh;

    background-image: url(../media/friendsLogo.webp);
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

div.notificationFriendRequest{
background-color: red;
color: white;
border-radius: 50%;

height: 2vh;
width: 2vh;
font-size: 30px;
}
div.notificationFriendRequest.hidden{
    display: none;
}

/*HEADER: Profile pic & name*/
header.feedHeader > .profileInformation{
    display: flex;
    justify-content: center;
    align-items: center;
}

header.feedHeader > .profileInformation > img{
    height: 8vh;
    width: 8vh;

    border-radius: 10px;
}

/*HEADER: Friends display*/
header.feedHeader > .friendDisplay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    padding: 3vh;

    background-color: #1a2e35f0;
    z-index: 6;

    color: rgb(221, 221, 221);
}

/*Friends display: Heading and exit*/
header.feedHeader > .friendDisplay > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Friends display: exit-button*/
#closeFriendDisplay{
    background-image: url(../media/exit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

/*Friends display: Each friend on list*/
header.feedHeader > .friendDisplay > .friends > div{
    width: 80%;
    border-radius: 10px;

    padding: 1vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
} 

/*Friends display: Friends profile img*/
div.friends > div > img{
    height: 10vh;
    width: 10vh;

    border-radius: 10px;
}
/*Friends display: Each friend chat icon*/
div.friends > div > div.chat_icon{
    height: 6vh;
    width: 6vh;
    background-image: url("../media/chat2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

header.feedHeader > div.friendDisplay > div.friendRequestsDisplay.hidden{
    display: none;
}

/*Each request*/
header.feedHeader > div.friendDisplay > div.friendRequestsDisplay > #activeRequests > div{
    display: flex;
    align-items: center;
    gap: 2vh;
}

header.feedHeader > div.friendDisplay > div.friendRequestsDisplay > #activeRequests > div > img{
    height: 7vh;
    width: 7vh;
    border-radius: 10px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header.feedHeader > div.friendDisplay > div.friendRequestsDisplay > #activeRequests > div > button{
    width: 20%;
    border-radius: 10px;
    height: 5vh;
    background-color: #ffffffbd;
    font-family: aboreto;
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px black;   
}

/*Friends display: Search*/
#searchWrapper{
    padding: 0;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: fixed;
    bottom: 0;
    width: 90%;
    box-sizing: border-box;
}
/*Friends display: Search form*/
#searchWrapper > form {
    width: 100%;
    height: 6vh;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1vh;
}
/*Friends display: Search form input field*/
#searchWrapper > form >input{
    background: transparent;
    flex:1;
    border: 0;
    outline: 0;
    border-radius: 10px;
    height: 3vh;
    width: 100%;
}

#searchWrapper > form > button > img{
    height: 3vh;
    width: 3vh;
}

#searchWrapper > form > button{
   border-radius: 50%;
   border: 0;
   height: 4vh;
   width: 4vh;
   cursor: pointer;
}

/*MAIN*/
main.mainFeed{
    padding-bottom: 10vh;
}
/*MAIN: Top background image*/
.mainFeed > div.backgroundImage{
    background-image: url(../media/loggedInBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
}
/*MAIN: Feed wrapper*/
.mainFeed > div.feedWrapper{
    height: 100%;
    padding-top: 20vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
/*MAIN: Info if nothing is posted*/
.mainFeed > div.feedWrapper > .no_post_info{
    background-color: #fffc;
    color: black;
    border-radius: 20px;
    padding: 1vh;
    z-index: 3;
}

/*MAIN: friendPostDisplay*/
main.mainFeed > div.feedWrapper > div.postDisplay {
    min-height: 20vh;
    width: 100%;
    background-color: #d9d9d978;
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 5vw;
    overflow-y: scroll;

    margin-left: 10vw;
    border-radius: 10px 0 0 10px;
    padding: 5vw;
    padding-right: 10vw;

    position: relative;
}

main.mainFeed > div.feedWrapper > div.friendsPostDisplay{
    min-height: 20vh;
    width: 100%;
    background-color: #d9d9d978;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;

    margin-left: 10vw;
    border-radius: 10px 0 0 10px;
    padding: 6vh 0 1vh;
    

    position: relative;
}

main.mainFeed > div.feedWrapper > div.friendsPostDisplay > div.friendProfileDisplay{
    display: flex;
    gap: 2vh;
    position: absolute;
    left: -1vh;
    top: -2vh;
    z-index: 10;

    font-size: 24px;
    color: #1d1d1d;
} 
main.mainFeed > div.feedWrapper > div.friendsPostDisplay > div.friendProfileDisplay > img{
    height: 8vh;
    width: 8vh;
    border-radius: 10px;
}

main.mainFeed > div.feedWrapper > div.friendsPostDisplay > .allPosts{
    display: flex;
    overflow-y: scroll;
    width: 100%;
    gap: 3vh;
    padding: 1vh 5vh 1vh 2vh ;
}

main.mainFeed > div.feedWrapper > div.postDisplay{
    background-color: #171717d1;
}

/*MAIN: Each post*/
div.post{
    z-index: 2;
    background-color: #F4F4F4A8;
    min-width: 70vw;
    height: 16vh;
    overflow: scroll;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(55, 55, 55);
    border-left: 10px solid whitesmoke;
    padding: 1vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/*MAIN: Post color based on mood*/
div.post.sad{
    border-color: rgb(0, 94, 128);
}

div.post.happy{
    border-color: #78B8A0;
}
div.post.angry{
    border-color: #F98989;
}
div.post.courageous{
    border-color: #F1FABB;
}
div.post.forgiving{
    border-color: #EC72D9;
}
div.post.jealous{
    border-color: #EFA35D;
}
div.post.fear{
    border-color: #625FE0;
}
div.post.alone{
    border-color: #8b7376;
}
div.post.funny{
    border-color: #859b70;
}

/*MAIN: Post image and title box*/
div.post > div:first-child{
    display: flex;
}

/*Top line in post: feeling and delete*/
div.post > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Post timestamp*/
div.post > p.timestamp{
    font-size: 11px;
    color: rgb(94, 94, 94);
}

/*Delete post button*/
div.post > div > #deletePost{
    background-image: url(../media/delete.png);
    background-repeat: no-repeat;
    background-size: contain;

    height: 2vh;
    width: 2vh;
}

/*Confirm delete pop-up*/
main > div.confirmDelete, main > div.confirmHandleRequest, main > div.handelSearch{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
main > div.confirmDelete > div, main > div.confirmHandleRequest > div, main > div.handelSearch > div{
    background-color: whitesmoke;
    width: 80%;
    height: 15vh;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;

    border-radius: 10px;
    border: 1px solid black;
}

main > div.confirmDelete > div > div > button, main > div.confirmHandleRequest > div > div > button, main > div.handelSearch > div > div > button{
    width: 20vw;
    border-radius: 10px;
    border: none;
}

/*MAIN: Each post h3 & h5 headings*/
div.post > div > h3, div.post > h5{
    margin: 0vh;
}
/*MAIN: Each post p*/
div.post > p{
    margin: 0;
}


/*FOOTER*/
/*FOOTER: Feed footer menu*/
footer.footerFeed{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;

    background-color: #607D88F5;
    box-shadow: 1px 1px 5px 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8vh;
    border-radius: 10px 10px 0 0;
    box-shadow: -5px 0px 15px 1px #272727;
    z-index: 3;
}
/*FOOTER: Each icon in feed footer menu*/
.footerFeed > div{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 50%;
    padding: 1vh;
    cursor: pointer;
}

/*FOOTER: Feed icon*/
footer.footerFeed > div > div{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

footer.footerFeed > div > .feedButton{
    background-image: url(../media/feed_icon.png);
}

/*FOOTER: Profile icon*/
footer.footerFeed > div > .profileButton{
    background-image: url(../media/profile_icon.png);
}

/*FOOTER: Chat icon*/
footer.footerFeed > div > .chatButton{
    background-image: url(../media/chat.png);
}
/*FOOTER: Post icon*/
footer.footerFeed > div > .postButton{
    background-image: url(../media/add.png);
}

footer.footerFeed > div.selected{
    background-color:  #4b636c;
}

