

h1, h2, h3, h4{
    font-family: aboreto;
}

.logo{
    font-family: Merlinda;
    cursor: pointer;
}

header.headerHome{
    padding: 0vh 2vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.headerHome > .logo{
    font-size: 25px;
}

button{
    height: 5vh;
    width: 25vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    border: none;
    font-size: 25px;
    font-family: aboreto; 
    background:whitesmoke;
    color: grey;

    cursor: pointer;
}

button:hover{
    background-color: #dcdcdc;
    
}

.mainHome > .introduction{
    height: 60vh;
    padding: 2vh;
    padding-top: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainHome > .introduction > h1{
 text-align: left;
 font-size: 28px;
 line-height: 5vh;
 margin: 0;
}

h4{
    color: grey;
    margin: 0;
    font-size: 14px;
}

.introduction > p{
    text-align: left;
    font-size: 19px;
    line-height: 3vh;
}

.introduction > button{
    width: 30vw;
    margin-top: 2vh;
}

.introduction > .homeImage{
    background-image: url();
    background-position: center;
    background-size: contain;

    height: 10vh;
    width: 10vh;
}

.mainHome > .guide{
    padding: 2vh;
    background-color: #B9DBC3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHome > .guide > h2{
    font-size: 30px;
}

.mainHome > .guide > p{
    margin-top: 0;
    color: #4f4f4f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainHome > .guide > img{
    border-radius: 50%;
    height: 25vh;
    width: 25vh;

    object-fit: cover;
    object-position: center;
}

.mainHome > .guide > button{
    height: 8vh;
    width: 50vw;
    margin: 4vh;
}







