@font-face {
    font-family: Merlinda;
    src: url("../fonts/Merienda-VariableFont_wght.ttf")
}
@font-face {
    font-family: Aboreto;
    src: url("../fonts/Aboreto-Regular.ttf")
}

*{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(251, 246, 239);
    margin: 0;

    height: 100vh;

    box-sizing: border-box;
}

header{
    height: 8vh;
}

main{
    overflow: scroll;
}

.homeFooter{
    height: 10vh;
    box-sizing: border-box;
    background-color: rgb(251, 246, 239);
}
.homeFooter > h4{
    font-size: 20px;
    padding-top: 2vh;
    margin: 0;
}

.homeFooter > p{
    color:#4c4c4c;
    font-size: 12px;
    margin: 0;
    padding: 1vh;
}

button{
    box-shadow: 0px 0px 10px 1px rgb(55, 55, 55);
}
button:hover{
    background-color: grey;
}

.fetchModal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fetchModal > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;

    padding: 20px;
    gap: 10px;
}
