.profileBody #profilePicture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-color: rgb(11, 128, 89);
    margin-bottom: 2vh;
    margin-top: 10vh;
}

.profileBody #weekdays > p {
    display: inline;
    padding: 10px;
}

.profileBody > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileBody .today {
    padding: 3.2vw;
    border-radius: 50%;
    background-color: rgb(130, 210, 183);
    font-weight: bold;
}

.profileBody #calendar {
    margin-bottom: 20vh;
}


.profileHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3vw;
}

header.profileHeader > #settingsButton {
    width: 24vw;
    font-size: 4.2vw;
}