.profileBody #profilePicture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-color: rgb(11, 128, 89);
    margin-bottom: 2vh;
    margin-top: 10vh;
}

#weekdays {
    display: flex;
}

.profileBody #weekdays > div {
    margin: 0 2.7vw;
    display: flex;
    flex-direction: column;
}

.profileBody #weekdays > div > p {
    margin: 0;
}

.profileBody > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileBody  #weekdays .today {
    padding: 1vw;
    border-radius: 50%;
    background-color: rgb(130, 210, 183);
    font-weight: bold;
}

.profileBody #calendar {
    margin-bottom: 5vh;
}


.profileHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3vw;
}

header.profileHeader > #settingsButton {
    width: 24vw;
    font-size: 4.2vw;
}

.mainProfile #calendarWeek {
    margin-bottom: 1.7vh;
}

.mainProfile .feeling {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin: 1vw;
}

.mainProfile .happy {
    background-color: aquamarine;
}

.mainProfile .sad {
    background-color: blue;
}

.mainProfile .angry {
    background-color: red;
}

.mainProfile .jealous {
    background-color: grey;
}

.mainProfile .couragious {
    background-color: aqua;
}

.mainProfile .fear {
    background-color: orange;
}

.mainProfile .forgiving {
    background-color: green;
}

.mainProfile #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(46, 91, 110, 0.75);
}

.mainProfile #settingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}

.mainProfile #settingsHeader p {
    font-size: 27px;
    margin: 0;
    padding: 2vh;
}

.mainProfile #settingsHeader button {
    width: 4vh;
    font-size: 17px;
    height: 4.5vh;
}

.mainProfile #buttonOptions {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.mainProfile #buttonOptions button {
    margin: 1.4vh;
    width: 12.5vh;
    font-size: 2vh;
}

#overlay .infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(130, 210, 183, 0.8);
    margin: 42px 50px;
    padding: 12px;
    border-radius: 10px;
}

#overlay .infoBox * {
    width: 155px;
}

#overlay .infoBox label:nth-of-type(2) {
    margin-top: 5px;
}

#overlay .infoBox #sendChanges {
    margin-top: 8px;
    width: 55px;
}