.mainRegister{
    height: 85vh;
}

.mainRegister > div.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerLogo{
    height: 20vh;
}

#registerField{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#registerField > input{
    width: 100%;
    height: 3vh;
    border-radius: 10px;

}

#registerField > label{
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-family: Aboreto;
    align-self: self-start;
}

#messageToUser{
    width: 80%;
    text-align: center;
}