body.bodyRegisterLogin{
    background-color: #B9DBC3;
}

.mainRegister, main.mainLogin{
    height: 82vh;
}

header > .loginButton.hidden{
    display: none;
}

.mainRegister > .wrapper, .mainLogin > .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainRegister > .wrapper > h1, .mainLogin > .wrapper > h1{
    margin-bottom: 0;
}
.mainRegister > .wrapper > p, .mainLogin > .wrapper > p {
    margin-top: 0;
    color: gray;
}

.mainRegister > .wrapper > p > span, .mainLogin > .wrapper > p > span{
    text-decoration: underline;
    cursor: pointer;
}

#registerLogo{
    height: 20vh;
}

#registerField, #loginField{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#registerField > label, #loginField > label{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: Aboreto;
    font-size: 22px;
    align-self: self-start;
}

#registerField > input, #loginField > input{
    width: 100%;
    height: 4vh;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px 1px gray;
    padding: 2vh;
}

#registerField > input:focus, #loginField > input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 4px rgb(85, 85, 85);
}

.mainLogin > .wrapper > p.messageToUser, .mainRegister > .wrapper > p.messageToUser{
    width: 80%;
    text-align: center;

    margin-top: 2vh;
    border-radius: 10px;
    padding: 1vh;
}

.messageToUser.visable{
    background-color: white;
}

.mainRegister > .wrapper > button, .mainLogin > .wrapper > button{
    width: 35vw;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    border: none;
    font-size: 25px;
    font-family: aboreto; 
    background:whitesmoke;
    color: grey;

    cursor: pointer;
}