.moodModal{
    background-color: rgba(26, 44, 51, 0.96);
    color: whitesmoke;

    position: fixed;
    top: 0;
    left: 0;
    height: 92%;
    z-index: 11;

    padding: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.moodModal.hidden{
    display: none;
}

main > .moodModal > div#feelings{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vh;
}

#feelings > button{
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    cursor: pointer;

    font-size: 12px;
}

#feelings > button:hover{
    background-color: rgb(154, 154, 154);
}
#feelings > button.selected{
    background-color: rgb(107, 107, 107);
}

#feelings > button.sad{
    background-color: #7DD1E4;
}
#feelings > button.happy{
    background-color: #D5E4C1;
}
#feelings > button.angry{
    background-color: #F98989;
}
#feelings > button.couragious{
    background-color: #F1FABB;
}
#feelings > button.forgiving{
    background-color: #EC72D9;
}
#feelings > button.jealous{
    background-color: #EFA35D;
}
#feelings > button.fear{
    background-color: #625FE0;
}

div.moodModal > input#description{
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: none;
}

#quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button#quoteButton{
    height: 5vh;
    width: 25vw;
    font-size: 12px;

    margin: 1vh;
}

button#postFeeling{
    width: 50vw;
}

